body {
    background-color: #17181b;
}
h1 {
    text-align: center;
    color: white;
}
h4 {
    font-size: 16px;
    font-weight: 700px;

}
.regreso {
text-align: center right;
    width: 150px;
    float: right;

}
header{
    padding: 8px 0 0 0;
    background: #1d2124;
    text-align: center;
    border-radius: 1em;
}
@media (min-width:750px){
    header{
        text-align: left;
    }
}

.hero {
    background-image: url(../images/portada\ de\ medicina.jpg);
    background-origin: initial;
    height: 300px;
    background-repeat:initial;
    border-radius: 1em;
    margin: 1em;
    
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
position: relative;
margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: o;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../images/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}











#lista-platillos .row {
    margin-bottom: 20px;

}
.agregar-carrito {
    margin: 10px 0;
}
.card {
    text-align: center;
    border: 1px solid rgb(255, 255, 255 0.05);
    background: #1d2124;
    margin: 0.5em;
    border-radius: 1em;
    
}

@media (min-width:550px){
    .card {
        text-align: center;
    }
}
.info-card {
padding: 10px 20px;
color: white;

}
.info-card .u-pull-rigth {
    text-decoration: line-through;
    text-align: left;
    font-size: 15px;
}
.info-card p, 
.card h4 {
    margin-bottom: 5px;
    font-size: 10px;
}
.info-card .precio {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.info-card .precio .u-pull-rigth {
    text-align: ri;
}